.nav{
  display: flex;
}
a{
  text-decoration: none;
  margin:0 4px;
}

ul{
  margin-left: -20px;
}
li a:hover{
  color: black;
} 

.brand{
  font-size: large;
  color: blueviolet;
  font-weight: bold;
}