<div class="container my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 my-5 home__intro animate__animated animate__zoomIn animate__slow">
        The most trusted & secure wallet
        <br>Start managing all your financial activities right in the app. Enjoy!!! <br><br>
        <button (click)="routToRegister()" class="btn btn-primary btn-lg">Start Now</button>
      </div>
      <div class="col-12 col-md-4 mx-4 my-5 image animate__animated animate__zoomIn animate__slower">
        <img id="respImg" src="/assets/img/homeimg.PNG" alt="">
      </div>
    </div>
  </div>
  
</div>


<div class="container-fluid bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 my-0 my-md-5">
        <img class="my-1 my-md-5 imgg" src="/assets/img/woww.PNG" alt="">
      </div>
      <div class="col-10 col-md-7 my-5 feature">
        Unlock the priviledges of being a customer by opening a free business account in a minute.
        We are very big on making our customers happy. <br><br>

        <div class="customer">As a customer, you enjoy these priviledges <i class="fa fa-arrow-down text-success  animate__animated animate__bounce animate__slow animate__infinite"></i></div> 
        <div class="row my-5 ">

          <div class="col-10 me-auto mx-md-2  col-md card my-3  text-muted p-0 mx-1 shadow animate__animated animate__swing animate__slow">
            <img src="/assets/img/money.PNG" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text">request for money</p>
            </div>
          </div>

          <div class="col-10 me-auto mx-md-2  col-md card my-3 text-muted p-0 mx-1 shadow animate__animated animate__swing animate__slow">
            <img src="/assets/img/wallet.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text">Create and manage Wallet</p>
            </div>
          </div>

          <div class="col-10 me-auto mx-md-2 col-md card my-3 text-muted p-0 mx-1 shadow animate__animated animate__swing animate__slow">
            <img src="/assets/img/cardd.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text">Deposit money</p>
            </div>
          </div>

          <div class="col-10 col-md me-auto mx-md-2   card my-3 text-muted p-0 mx-1 shadow animate__animated animate__swing animate__slow">
            <img src="/assets/img/transfer.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text">Transfer money</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>  
</div>

<div class="container-fluid" id="privacy">
  <div class="container my-5">
    <div class="row">
      <div class="col-8 col-md-6 my-5">
        <div class="note">Private & Secure</div>
        <div class="notesub">Only you can access your wallet. Your privacy is paramount.</div> <br>
        <button (click)="routToRegister()" class="btn btn-primary btn-sm">Start Now</button>
      </div>
      <div class="col-6 col-md-6 my-5 privacy">
        <img src="/assets/img/app.PNG" class="app-img" alt="">
        <img src="/assets/img/laptop.png" class="imgContainer" alt="">
      </div>
    </div>
  </div>
</div>  

<!-- ===================footer -->

<div class="contianer-fluid my-3 bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-2 my-3 snap">
        Snap Wallet
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 my-2 my-md-0 col-md">
            <div class="head">About Us</div>
            <a href="">Community</a> <br>
            <a href="">Help Center</a><br>
            <a href="">Developers</a><br>
            <a href="">Company</a><br>
            <a href="">FAQs</a><br>
            <a href="">Careers</a><br>
            <a href="">Blog</a><br>
          </div>
          <div class="col-12 col-md my-2 my-md-0">
            <div class="head">Legals</div>
            <a href="">Terms and Condition</a><br>
            <a href="">Privacy Policy</a><br>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 my-2 my-md-0">
        <div class="head">Join our channels</div>
        <i class="fab fa-twitter mx-1"></i>
        <i class="fab fa-facebook mx-1"></i>
        <i class="fab fa-instagram mx-1"></i>
        <i class="fab fa-youtube mx-1"></i>
      </div>
    </div>
  </div>
</div>